import { defHttp } from '/@@/utils/http/axios';
enum Api {
  page = '/@Model.ClassName/page',
  list = '/@Model.ClassName/list',
  add = '/@Model.ClassName/add',
  edit = '/@Model.ClassName/edit',
  detail = '/@Model.ClassName/detail',
  delete = '/@Model.ClassName/delete',
@foreach (var column in Model.TableField){
if(@column.EffectType.ToLower() == "fk" && @column.FkEntityName != "" && @column.FkColumnName != ""){
@:  @(@Model.LowerClassName)fk@(@column.FkEntityName)@(@column.FkColumnName) = '/@Model.ClassName/fk@(@column.FkEntityName)@(@column.FkColumnName)',
}
}
}
@{var dateTime = System.DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");}
/**
 * @@description: 查询@(@Model.BusName)
 *
 * @@author @Model.AuthorName
 * @@date @dateTime
 */
export const @(@Model.LowerClassName)Page = (params: any) => {
  return defHttp.get<any>({ url: Api.page, params });
};

/**
 * @@description: @(@Model.BusName)列表
 *
 * @@author @Model.AuthorName
 * @@date @dateTime
 */
export const @(@Model.LowerClassName)List = (params: any) => {
  return defHttp.get<any>({ url: Api.list, params });
};

/**
 * @@description: 添加@(@Model.BusName)
 *
 * @@author @Model.AuthorName
 * @@date @dateTime
 */
export const @(@Model.LowerClassName)Add = (params: any) => {
  return defHttp.post({ url: Api.add, params });
};

/**
 * @@description: 编辑@(@Model.BusName)
 *
 * @@author @Model.AuthorName
 * @@date @dateTime
 */
export const @(@Model.LowerClassName)Edit = (params: any) => {
  return defHttp.post({ url: Api.edit, params });
};

/**
 * @@description: @(@Model.BusName)详情
 *
 * @@author @Model.AuthorName
 * @@date @dateTime
 */
export const @(@Model.LowerClassName)Detail = (params: any) => {
  return defHttp.get({ url: Api.detail, params });
};

/**
 * @@description: 删除@(@Model.BusName)
 *
 * @@author @Model.AuthorName
 * @@date @dateTime
 */
export const @(@Model.LowerClassName)Delete = (params: any) => {
  return defHttp.post({ url: Api.delete, params });
};
@foreach (var column in Model.TableField){
if(@column.EffectType.ToLower() == "fk" && @column.FkEntityName != "" && @column.FkColumnName != ""){
@:
@:/**
@: * @@description: 获取@(@column.FkEntityName)列表
@: * @@author @Model.AuthorName
@: * @@date @dateTime
@: */
@:export const @(@Model.LowerClassName)Fk@(@column.FkEntityName)@(@column.FkColumnName)List = () => {
@:  return defHttp.get<any>({ url: Api.@(@Model.LowerClassName)fk@(@column.FkEntityName)@(@column.FkColumnName) });
@:};
}
}
